#
# Contents plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_Contents.cfg"

# columns to show from metadata
# format: [(col header, keyword1), ... ]
columns = [ ('Name', 'NAME'), ('Object', 'TARGNAME'), ('Date', 'DATE-OBS'), ('Time UT', 'TIME-OBS'), ('Modified', 'MODIFIED')]

# If set to True, will always expand the tree in Contents when new entries are added
always_expand = True
